/* header styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px 0;
  transition: padding 0.3s ease;
}

header h1 {
  font-weight: bold;
  margin: 0;
  transition: font-size 0.3s ease;
}

nav {
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

nav ul li a.active {
  background-color: #333;
  color: #fff;
}

/* Section styles */
section {
  text-align: center;
  padding: 10px 0; /* Add less padding to sections */
}

h1 {
  margin-bottom: 20px;
}

/* Video container styles */
.video-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically on smaller screens */
  align-items: center; /* Center items horizontally */
}

iframe {
  width: 100%; /* Make iframe fill the container */
  max-width: 100%; /* Ensure iframe doesn't exceed its container */
  margin-bottom: 20px; /* Add some space between iframe and video description */
}

.video-description {
  padding: 0 20px; /* Add less padding to the sides */
}

h2 {
  font-size: 1.25rem; /* Adjust font size for smaller screens */
  margin-top: 0;
}

h4 {
  font-size: 1rem;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .video-container {
    flex-direction: row; /* Revert to horizontal layout for larger screens */
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items to the top */
  }

  iframe {
    width: 50%; /* Set iframe width to half for larger screens */
    max-width: 50%;
    margin-right: 20px;
    margin-bottom: 0; /* Reset margin */
  }
}
