/* Base styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px 0;
  transition: padding 0.3s ease;
}

header h1 {
  font-weight: bold;
  margin: 0;
}

nav {
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #333;
  color: #fff;
}
/* Swiper CSS */
.swiper-container {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Additional centering for inline or text elements */
  height: auto; /* Adjust based on your content, could be 100% or a specific value */
  width: 100%;
}
.swiper-slide img {
  max-width: 25%; /* Or adjust to keep the images smaller */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Fit the image within the container without cropping */
  margin: auto; /* This can help center the image in some cases */
}

.swiper-wrapper {
  align-items: center !important; /* Center slides vertically */
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* or specific size */
  height: auto; /* or specific height */
}

.img-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

/* Modal CSS */
.modal-content {
  max-width: 100%; /* Limit image width to prevent overflow */
  max-height: 80vh; /* Limit image height to the viewport height */
  margin: auto; /* Center the image horizontally */
  display: block; /* Ensure the image is block level for margin to work */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Body state when modal is open */
body.modal-open {
  overflow: hidden;
}

/* Adjustments for mobile screens */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }

  nav ul li a {
    font-size: 0.9rem;
    padding: 5px 8px;
  }

  .vertical-photo-container,
  .horizontal-photo-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
